<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.das">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_nuevo_das"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_nuevo_das"
        android:supportsRtl="true"

        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".juego.JuegoActivity"></activity>

        <service android:name=".chats.Firebase">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".mapa.InfoUserActivity" />
        <activity android:name=".chats.ChatActivity" />
        <activity android:name=".registroLogin.InteresesActivity" />
        <activity android:name=".registroLogin.RegisterActivity" />
        <activity android:name=".registroLogin.LoginActivity" />
        <activity android:name=".mapa.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBRwXCF_pv69rx8FlFBKBcmxn7q7MHEPQk" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>